* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.img {
    width: 1500px;
    padding-left: 60px;
    padding-top: 20px;
    padding-right: 30px;
}

.img1 {
    width: 650px;
    padding-top: 20px;
    padding-left: 250px;
    float: left;
}

.a {
    position: relative;
    padding-top: 20px;
    float: left;
    font-size: 20px;
    padding-left: 20px;
    width: 300px;
}

.img2 {
    width: 550px;
    padding-right: 150px;
    padding-top: 25px;
    float: right;
    position: relative;
}

#menutop {
    position: relative;
    width: 1500px;
    float: left;
    padding-top: 40px;
    padding-left: 180px;
    padding-right: 100px;
}

    #menutop a {
        display: inline;
        font-weight: bold;
        /* background-color: red; */
        padding-top: 9px;
        width: 90px;
        text-align: center;
        background-color: white;
        margin-left: 5.5px;
        padding-bottom: 10px;
        text-decoration: none;
        color: #000;
    }

        #menutop a:hover {
            color: red;
        }
